<div class="max-w-md mx-auto">
  <h2 class="text-3xl font-bold mb-6">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4" }) do |f| %>
    <div>
      <%= f.label :email, class: "block font-medium text-gray-700" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>

    <div>
      <%= f.label :password, class: "block font-medium text-gray-700" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="flex items-center">
        <%= f.check_box :remember_me, class: "rounded text-indigo-600 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
        <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
      </div>
    <% end %>

    <div>
      <%= f.submit "Log in", class: "custom-link" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
